body {
	/*background-image: url("https://i.imgur.com/11cZ0qj.png?1");*/
	/*background-image: url('http://pixelartmaker.com/art/c4af2b8cd4bdf02.png');*/
	/*background-image: url('http://pixelartmaker.com/art/c4af2b8cd4bdf02.png');*/
	background-repeat: space;
	background-color: black;
}
p > img {
	height: 50px;
	width: 50px;
	/*border: 2px solid black;*/
}
.lime, .onion, .avocado, .tomato {
	height: 80px;
	width: 80px;
}

.player1-container {
	background-image: url("https://i.imgur.com/11cZ0qj.png?1");
	background-color: black;
	position: relative;
	width: 520px;
	height: 640px;
	padding: 20px;

}
#player1-display, #player2-display {
	color: black;
	font-size: 40pt;
	font-family: 'Roboto Mono', monospace;
	/*text-decoration: underline;*/
}
.player1-ready-button {
	position: absolute;
	left: 350px;
	top: 10px;
} 
.player2-ready-button {
	position: absolute;
	left: 350px;
	top: 10px;
} 
#player1slot1 {
	position: absolute;
	left: 70px;
	top: 360px;
	height: 50px;
	width: 50px;
	/*background-color: red;*/
}
.player1-button1 {
	color: white;
	position: absolute;
	left: 105px;
	top: 450px;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
#player1slot2 {
	position: absolute;
	left: 230px;
	top: 360px;
	height: 50px;
	width: 50px;
	/*background-color: red;*/
}
.player1-button2 {
	color: white;
	position: absolute;
	left: 262px;
	top: 450px;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
#player1slot3 {
	position: absolute;
	left: 390px;
	top: 360px;
	height: 50px;
	width: 50px;
	/*background-color: red;*/
}
.player1-button3 {
	color: white;
	position: absolute;
	left: 425px;
	top: 450px;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
#player1slot4 {
	position: absolute;
	left: 70px;
	top: 500px;
	height: 50px;
	width: 50px;
	/*background-color: red;*/
}
.player1-button4 {
	color: white;
	position: absolute;
	left: 105px;
	top: 590px;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
#player1slot5 {
	position: absolute;
	left: 230px;
	top: 500px;
	height: 50px;
	width: 50px;
	/*background-color: red;*/
}
.player1-button5 {
	color: white;
	position: absolute;
	left: 262px;
	top: 590px;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
#player1slot6 {
	position: absolute;
	left: 390px;
	top: 500px;
	height: 50px;
	width: 50px;
	/*background-color: red;*/
}
.player1-button6 {
	color: white;
	position: absolute;
	left: 425px;
	top: 590px;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
.player2-container {
	background-image: url("https://i.imgur.com/11cZ0qj.png?1");
	background-color: white;
	position: relative;
	width: 520px;
	height: 640px;
	padding: 20px;
}
#player2slot1 {
	position: absolute;
	left: 70px;
	top: 360px;
	height: 50px;
	width: 50px;
	/*background-color: blue;*/
}
.player2-button1 {
	color: white;
	position: absolute;
	left: 105px;
	top: 450px;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
#player2slot2 {
	position: absolute;
	left: 230px;
	top: 360px;
	height: 50px;
	width: 50px;
	/*background-color: blue;*/
}
.player2-button2 {
	color: white;
	position: absolute;
	left: 262px;
	top: 450px;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
#player2slot3 {
	position: absolute;
	left: 390px;
	top: 360px;
	height: 50px;
	width: 50px;
	/*background-color: blue;*/
}
.player2-button3 {
	color: white;
	position: absolute;
	left: 425px;
	top: 450px;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
#player2slot4 {
	position: absolute;
	left: 70px;
	top: 500px;
	height: 50px;
	width: 50px;
	/*background-color: blue;*/
}
.player2-button4 {
	color: white;
	position: absolute;
	left: 105px;
	top: 590px;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
#player2slot5 {
	position: absolute;
	left: 230px;
	top: 500px;
	height: 50px;
	width: 50px;
	/*background-color: blue;*/
}
.player2-button5 {
	color: white;
	position: absolute;
	left: 262px;
	top: 590px;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
#player2slot6 {
	position: absolute;
	left: 390px;
	top: 500px;
	height: 50px;
	width: 50px;
	/*background-color: blue;*/
}
.player2-button6 {
	color: white;
	position: absolute;
	left: 425px;
	top: 590px;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
.score-board > div, .score-board > p {
	display: inline-block;
}
.players-container {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	background-color: black;
}
#total-points1 {
	color: red;
	font-size: 20pt;
	/*color: white;*/
	/*position: fixed;*/
	bottom: 230px;
	left: 0%;
	/*width: 30%;*/
    /*border: 3px solid #8AC007;*/

}
#total-points2 {
	color: red;
	font-size: 20pt;
	/*color: white;*/
	/*position: fixed;*/
	bottom: 230px;
	left: 65%;
	/*width: 30%;*/
    /*border: 3px solid #8AC007;*/
}
#count-down {
	color: red;
	/*position: absolute;*/
	left: 42%;
	bottom: 800px;
	font-size: 30pt;
	text-shadow:
		-1px -1px 0 #000,
		5px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
#timer {
	color: white;
	/*position: fixed;*/
	bottom: 800px;
	left: 42%;
	font-size: 30pt;
}
audio {
	color: red;
	position: absolute;
	left: 600px;
	top: 200px;
	height: 100px;
	width: 200px;
}
.winner {
	color: white;
	position: absolute;
	left: 600px;
	top: 100px;
	font-size: 30pt;
}
.winner-name {
	color: white;
	position: absolute;
	left: 600px;
	top: 150px;
	font-size: 30pt;

}
/*.instructions {
	font-size: 20pt;
	position: fixed;
	bottom: 10px;
	left: 0%;
	width: 50%;
    border: 3px solid #8AC007;
    background-color: goldenrod;
}*/