body {
	background-image: url('http://pixelartmaker.com/art/c4af2b8cd4bdf02.png');
	/*background-image: url('http://pixelartmaker.com/art/c4af2b8cd4bdf02.png');*/
	/*background-image: url('http://pixelartmaker.com/art/c4af2b8cd4bdf02.png');*/
	/*background-repeat: repeat-x;*/
}

.grass < div {
	height: 200px;
	width: 200px;
	color: rgb(50, 212, 53)
}
img {
	height: 40px;
	width: 40px;
	border: 2px solid black;
}
.player1-container {
	display: flex;
	/*flex-direction: row-reverse;*/
	/*justify-content: space-between;*/
}
.player2-container {
	display: flex;
	flex-direction: row-reverse;
	/*justify-content: space-between;*/
}
.players-container {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}