body {
	/*background-image: url("https://i.imgur.com/11cZ0qj.png?1");*/
	/*background-image: url('http://pixelartmaker.com/art/c4af2b8cd4bdf02.png');*/
	/*background-image: url('http://pixelartmaker.com/art/c4af2b8cd4bdf02.png');*/
	background-repeat: space;
	background-color: black;
}

.grass {
	display: flex
	height: 200px;
	width: 200px;
	color: rgb(50, 212, 53)
}
img {
	height: 50px;
	width: 50px;
	/*border: 2px solid black;*/
}
#lime-pic1 {
	/*border: 2px solid black;*/
	/*margin: 8px;*/
	/*padding: 10px;*/
}
.player1-container {
	background-image: url("https://i.imgur.com/11cZ0qj.png?1");
	background-color: black;
	position: relative;
	width: 520px;
	height: 640px;
	padding: 20px;

}
#player1slot1 {
	position: absolute;
	left: 84px;
	top: 385px;
	height: 50px;
	width: 50px;
	background-color: red;
}
#player1slot2 {
	position: absolute;
	left: 245px;
	top: 385px;
	height: 50px;
	width: 50px;
	background-color: red;
}
#player1slot3 {
	position: absolute;
	left: 406px;
	top: 385px;
	height: 50px;
	width: 50px;
	background-color: red;
}
#player1slot4 {
	position: absolute;
	left: 84px;
	top: 525px;
	height: 50px;
	width: 50px;
	background-color: red;
}
#player1slot5 {
	position: absolute;
	left: 245px;
	top: 525px;
	height: 50px;
	width: 50px;
	background-color: red;
}
#player1slot6 {
	position: absolute;
	left: 406px;
	top: 525px;
	height: 50px;
	width: 50px;
	background-color: red;
}
.player2-container {
	background-image: url("https://i.imgur.com/11cZ0qj.png?1");
	background-color: white;
	position: relative;
	width: 520px;
	height: 640px;
	padding: 20px;
}
#player2slot1 {
	position: absolute;
	left: 84px;
	top: 385px;
	height: 50px;
	width: 50px;
	background-color: blue;
}
#player2slot2 {
	position: absolute;
	left: 245px;
	top: 385px;
	height: 50px;
	width: 50px;
	background-color: blue;
}
#player2slot3 {
	position: absolute;
	left: 406px;
	top: 385px;
	height: 50px;
	width: 50px;
	background-color: blue;
}
#player2slot4 {
	position: absolute;
	left: 84px;
	top: 525px;
	height: 50px;
	width: 50px;
	background-color: blue;
}
#player2slot5 {
	position: absolute;
	left: 245px;
	top: 525px;
	height: 50px;
	width: 50px;
	background-color: blue;
}
#player2slot6 {
	position: absolute;
	left: 406px;
	top: 525px;
	height: 50px;
	width: 50px;
	background-color: blue;
}
.score-board > div, .score-board > p {
	display: inline-block;
}
.players-container {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	background-color: black;
}
#total-points1 {
	color: white;
	/*position: fixed;*/
	bottom: 230px;
	left: 0%;
	width: 30%;
    border: 3px solid #8AC007;

}
#total-points2 {
	color: white;
	/*position: fixed;*/
	bottom: 230px;
	left: 65%;
	width: 30%;
    /*border: 3px solid #8AC007;*/
}
#count-down {
	color: red;
	/*position: absolute;*/
	left: 42%;
	bottom: 800px;
	font-size: 50pt;
	text-shadow:
		-1px -1px 0 #000,
		5px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
#timer {
	color: white;
	/*position: fixed;*/
	bottom: 800px;
	left: 42%;
	font-size: 30pt;
}
/*.instructions {
	font-size: 20pt;
	position: fixed;
	bottom: 10px;
	left: 0%;
	width: 50%;
    border: 3px solid #8AC007;
    background-color: goldenrod;
}*/